<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
 <connectionStrings>
  <add name="trainConnectionString" connectionString="server=localhost;user id=root;database=train"
   providerName="MySql.Data.MySqlClient" />
  <add name="trainConnectionString2" connectionString="server=localhost;user id=root;database=train"
   providerName="MySql.Data.MySqlClient" />
  <add name="trainConnectionString3" connectionString="server=localhost;user id=root;database=train"
   providerName="MySql.Data.MySqlClient" />
  <add name="trainConnectionString4" connectionString="server=localhost;user id=root;database=train;allowuservariables=True"
   providerName="MySql.Data.MySqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="MySql.Data, Version=6.9.11.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/></assemblies></compilation>
	</system.web>
</configuration>
